/**
 * Form
 */

.form {
  @include form();

  &__table {
    @include table();
    margin-block-end: space("medium");

    th {
      width: 12rem;
    }

    input, select, textarea {
      border: none;
      border-radius: space("x-small");
      background-color: rgba(map-get($colors, $theme-accent), 0.05);
    }
  }

  &__buttons {
    @include row(center);
  }
}
